<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h</name>
  <service>
    <type>_doggy._tcp</type>
    <port>443</port>
    <txt-record>txtvers=1</txt-record>
    <txt-record>proto=https</txt-record>
  </service>
</service-group>
